[Unit]
Description=Captive Portal FastAPI service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/captive_portal/src
ExecStart=/opt/captive_portal/.venv/bin/python /opt/captive_portal/src/main.py run-server
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
